[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
crowdai-api = "*"
minerl = "*"
coloredlogs = "*"
matplotlib = "*"
opencv-python = "*"
Pyro4 = "*"
tensorflow = "*"
datetime = "*"
pandas = "*"
chainerrl = "*"
pydot = "*"
jupyter = "*"
sklearn = "*"
jupytext = "*"
jupyterlab = "*"
jupyterlab-git = "*"
ipywidgets = "*"
jupyterlab-nvdashboard = "*"
jupyter-lsp = "*"

[requires]
python_version = "3.7"
