[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
crowdai-api = "*"
minerl = {editable = true,git = "https://github.com/minerllabs/minerl"}
coloredlogs = "*"
matplotlib = "*"
opencv-python = "==4.2.0.34"
Pyro4 = "*"
tensorflow = "*"
pandas = "*"
chainerrl = "*"
pydot = "*"
jupyter = "*"
sklearn = "*"
jupytext = "*"
jupyterlab = "*"
jupyterlab-git = "*"
ipywidgets = "*"
jupyterlab-nvdashboard = "*"
jupyter-lsp = "*"
scikit-learn = "*"
torch = "*"
pfrl = "*"
DateTime = "*"

[requires]
python_version = "3.7"
